PORT=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DATABASE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_URL=

JWT_SECRET=

EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=

DISCORD_WEBHOOK_URL=

EXCHANGE_ENCRYPTION_KEY=

APP_URL=